<div class="main-content">
  <div class="row">
    <div class="col-md-3">
      <h2>字号</h2>
      <p class="color-muted">
        a、建议下方、链接等部分使用14号字体，标题部分使用16px；
      </p>
      <p class="color-muted">
        b、建议中文字体为：微软雅黑，数字/英文字体为：Helvetica；
      </p>
      <p class="color-muted">
        c、web页面内容较多，表单内容复杂，字号建议多为14px，以不同色
        值进行层级区分。
      </p>
    </div>
    <div class="col-md-9">
      <div class="panel">
        <div class="panel-heading">
          应用
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <h1>h1 .h1 24号字体</h1>
              <h2>h2 .h2 20号字体</h2>
              <h3>h3 .h3 18号字体</h3>
              <h4>h4 .h4 16号字体</h4>
              <h5>h5 .h5 14号字体</h5>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <p class="h2">20px：适用于首页部分，宣传或警示类文字；</p>
              <p class="h3">18px：适用于整页面大标题；</p>
              <p class="h4">16px：适用于整页面部分标题；</p>
              <p class="h5">14px：适用于大部分的小标题，正文；</p>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <h2>颜色</h2>
      <p class="color-muted">
        具体颜色使用以设计稿为准！
      </p>
    </div>
    <div class="col-md-9">
      <div class="panel">
        <div class="panel-heading">
          应用
        </div>
        <div class="panel-body">
          <table>
            <thead>
            <tr>
              <th class="col-md-2 col-lg-2 col-xs-2 col-sm-2"></th>
              <th class="col-md-2 col-lg-2 col-xs-3 col-sm-2"></th>
              <th class="col-md-2 col-lg-2 col-xs-2 col-sm-2">色号</th>
              <th class="col-md-6 col-lg-6 col-xs-5 col-sm-6">使用场景</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="col-md-2 col-lg-2 col-xs-3 col-sm-2
              col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                <span class="rectangle primary"></span>
              </td>
              <td class="col-md-2 col-lg-2 col-xs-2 col-sm-2">#01b9d1</td>
              <td class="col-md-6 col-lg-6 col-xs-5 col-sm-6">
                <h3>用于特别需要强调的文字、按钮和icon</h3>
                <p class="color-muted">如可链接区域文字（鼠标悬停状态下，文字变成蓝色并伴有下划线），说明性重点文字</p>
              </td>
            </tr>
            <tr>
              <td rowspan="3" class="col-md-2 col-lg-2 col-xs-2 col-sm-2 h2">重要</td>
              <td class="col-md-2 col-lg-2 col-xs-3 col-sm-2 ">
                <span class="rectangle title"></span>
              </td>
              <td class="col-md-2 col-lg-2 col-xs-2 col-sm-2">#333333</td>
              <td class="col-md-6 col-lg-6 col-xs-5 col-sm-6">
                <h3>用于主要标题</h3>
              </td>
            </tr>
            <tr>
              <td class="col-md-2 col-lg-2 col-xs-3 col-sm-2 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                <span class="rectangle warning"></span>
              </td>
              <td class="col-md-2 col-lg-2 col-xs-2 col-sm-2">#ffbb44</td>
              <td class="col-md-6 col-lg-6 col-xs-5 col-sm-6">
                <h3>用于部分说明性文字</h3>
                <p class="color-muted">ps：具体以设计稿为准</p>
              </td>
            </tr>
            </tbody>
            <tbody>
            <tr>
              <td class="col-md-2 col-lg-2 col-xs-3 col-sm-2
              col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                <span class="rectangle p"></span>
              </td>
              <td class="col-md-2 col-lg-2 col-xs-2 col-sm-2">#666666</td>
              <td class="col-md-6 col-lg-6 col-xs-5 col-sm-6">
                <h3>用于普通级段落信息、用户名、icon等</h3>
              </td>
            </tr>
            <tr>
              <td rowspan="3" class="col-md-2 col-lg-2 col-xs-2 col-sm-2 h2"></td>
              <td class="col-md-2 col-lg-2 col-xs-3 col-sm-2 ">
                <span class="rectangle gray"></span>
              </td>
              <td class="col-md-2 col-lg-2 col-xs-2 col-sm-2">#999999</td>
              <td class="col-md-6 col-lg-6 col-xs-5 col-sm-6">
                <h3>用于辅助、次要的文字信息</h3>
              </td>
            </tr>
            <tr>
              <td class="col-md-2 col-lg-2 col-xs-3 col-sm-2 col-md-offset-2 col-lg-offset-2 col-xs-offset-2 col-sm-offset-2">
                <span class="rectangle line"></span>
              </td>
              <td class="col-md-2 col-lg-2 col-xs-2 col-sm-2">#cccccc</td>
              <td class="col-md-6 col-lg-6 col-xs-5 col-sm-6">
                <h3>用于较弱的辅助性icon、分隔线、辅助性文字（无具体含义，完全不重要）</h3>
              </td>
            </tr>
            </tbody>
          </table>
          <hr>
          <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
              <table>
                <tbody>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2"></td>
                  <td  class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                    <span class="rectangle primary"></span>
                  </td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#ff001e</td>
                </tr>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2"></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4"><span class="rectangle yellow"></span></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#ff8400</td>
                </tr>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2">辅助</td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4"><span class="rectangle success"></span></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#63d300</td>
                </tr>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2"></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4"><span class="rectangle bg"></span></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#f2f2f2</td>
                </tr>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2"></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4"><span class="rectangle disabled"></span></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#e5e5e5</td>
                </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6 col-lg-6 col-sm-6 col-xs-12">
              <table>
                <tbody>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2"></td>
                  <td  class="col-md-4 col-lg-4 col-xs-4 col-sm-4">
                    <span class="rectangle blue-gradient"></span>
                  </td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#0050d5 ~ #01b9d1</td>
                </tr>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2"></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4"><span class="rectangle yellow-gradient"></span></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#0050d5 ~ #01b9d1</td>
                </tr>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2">渐变</td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4"><span class="rectangle red-gradient"></span></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#0050d5 ~ #01b9d1</td>
                </tr>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2"></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4"><span class="rectangle green-gradient"></span></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#0050d5 ~ #01b9d1</td>
                </tr>
                <tr>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4 h2"></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4"><span class="rectangle violet-gradient"></span></td>
                  <td class="col-md-4 col-lg-4 col-xs-4 col-sm-4">#0050d5 ~ #01b9d1</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>