<div class="main-content">
  <h4 class="page-title">Other</h4>
  <div class="row">
    <div class="col-sm-4 m-b">
      <div class="panel">
        <div class="panel-heading">
          区间选择器
        </div>
        <div class="panel-body">
          <p>选中结果：{{range}}</p>
          <div>
            <ui-input type="range" name="range" style="width:100%" [(ngModel)]="range"></ui-input>
          </div>
          <div>
            <ui-input class="primary" type="range" style="width:100%" name="range" [(ngModel)]="range"></ui-input>
          </div>
          <div>
            <ui-input class="info" type="range" style="width:100%" name="range" [(ngModel)]="range"></ui-input>
          </div>
          <div>
            <ui-input class="success" type="range" style="width:100%" name="range" [(ngModel)]="range"></ui-input>
          </div>
          <div>
            <ui-input class="warning" type="range" style="width:100%" name="range" [(ngModel)]="range"></ui-input>
          </div>
          <div>
            <ui-input class="danger" type="range" style="width:100%" name="range" [(ngModel)]="range"></ui-input>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-4 m-b">
      <div class="panel">
        <div class="panel-heading">
          文字方向
        </div>
        <div class="panel-body">
          <p class="text-left">text-left</p>
          <p class="text-center">text-center</p>
          <p class="text-right">text-right</p>
          <br>
        </div>
      </div>
    </div>
    <div class="col-sm-4 m-b">
      <div class="panel">
        <div class="panel-heading">
          图片
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="img-view img-responsive">
                <img src="" alt="">
              </div>
            </div>
            <div class="col-sm-4">
              <div class="img-view img-responsive img-circle">
                <img src="" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-heading">
          提示图标
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-sm-4 text-center m-b">
              <div class="error img-md">
                <img src="../../assets/images/error1.png" alt="">
                <p>请搜索</p>
              </div>
            </div>
            <div class="col-sm-4 text-center m-b">
              <div class="error img-md">
                <img src="../../assets/images/error2.png" alt="">
                <p>无消息</p>
              </div>
            </div>
            <div class="col-sm-4 text-center m-b">
              <div class="error img-md">
                <img src="../../assets/images/error3.png" alt="">
                <p>优惠券</p>
              </div>
            </div>
            <div class="col-sm-4 text-center m-b">
              <div class="error img-md">
                <img src="../../assets/images/error4.png" alt="">
                <p>无信息</p>
              </div>
            </div>
            <div class="col-sm-4 text-center m-b">
              <div class="error img-md">
                <img src="../../assets/images/error6.png" alt="">
                <p>报错</p>
              </div>
            </div>
            <div class="col-sm-4 text-center m-b">
              <div class="error img-md">
                <img src="../../assets/images/error7.png" alt="">
                <p>无关注</p>
              </div>
            </div>
            <div class="col-sm-4 text-center m-b">
              <div class="error img-md">
                <img src="../../assets/images/error8.png" alt="">
                <p>无账户</p>
              </div>
            </div>
            <div class="col-sm-6 text-center">
              <div class="error img-lg">
                <img src="../../assets/images/error5.png" alt="">
                <p>404</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>