.color-default {
    color: $color-default!important;
}

.color-primary {
    color: $color-primary!important;
}

.color-info {
    color: $color-info!important;
}

.color-success {
    color: $color-success!important;
}

.color-danger {
    color: $color-danger!important;
}

.color-warning {
    color: $color-warning!important;
}

.color-muted {
    color: $color-gray!important;
}