.main-content {
    margin-top: 30px;
    margin-bottom: 40px;
    .page-title {
        color: $color-gray;
        font-size: 24px;
        font-weight: normal;
        margin: 20px 0;
    }
    .panel-heading {
        font-size: 16px;
    }
}