.m-xs {
    margin: 5px;
}

.m-sm {
    margin: 10px;
}

.m-md {
    margin: 20px;
}

.m-lg {
    margin: 30px;
}

.m-b-xs {
    margin-bottom: 5px;
}

.m-b-sm {
    margin-bottom: 10px;
}

.m-b {
    margin-bottom: 20px;
}

.m-b-lg {
    margin-bottom: 30px;
}

.m-t-xs {
    margin-top: 5px;
}

.m-t-sm {
    margin-top: 10px;
}

.m-t {
    margin-top: 20px;
}

.m-t-lg {
    margin-top: 30px;
}

.p-xs {
    margin: 5px;
}

.p-sm {
    margin: 10px;
}

.p-md {
    padding: 20px;
}

.p-lg {
    padding: 30px;
}

.p-b-xs {
    padding-bottom: 5px;
}

.p-b-sm {
    padding-bottom: 10px;
}

.p-b {
    padding-bottom: 20px;
}

.p-b-lg {
    padding-bottom: 30px;
}

.p-t-xs {
    padding-top: 5px;
}

.p-t-sm {
    padding-top: 10px;
}

.p-t {
    padding-top: 20px;
}

.p-t-lg {
    padding-top: 30px;
}