@mixin caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 2px;
    vertical-align: middle;
    border-top: 9px dashed;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
}