<div class="main-content">
  <div class="row">
    <div class="col-md-3">
      <h2>字体图标</h2>
      <p class="color-muted">
        字体图标集合，可缩放、修改颜色、添加阴影的矢量图标……
      </p>
    </div>
    <div class="col-md-9">
      <div class="panel">
        <div class="panel-heading">
          应用
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-qq01"></i>
                <span>icon-qq01</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-tel"></i>
                <span>icon-tel</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-user02"></i>
                <span>icon-user02</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-down-doc"></i>
                <span>icon-down-doc</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-msg"></i>
                <span>icon-msg</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-qr-code"></i>
                <span>icon-qr-code</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon  icon-return-top"></i>
                <span>icon-return-top</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon   icon-reload"></i>
                <span> icon-reload</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon   icon-add"></i>
                <span> icon-add</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-user01"></i>
                <span>icon-user01</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-password"></i>
                <span>icon-password</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-iphone"></i>
                <span>icon-iphone</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-email"></i>
                <span> icon-email</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-company"></i>
                <span>icon-company</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-verification"></i>
                <span>icon-verification</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-balance"></i>
                <span>icon-balance</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-add-user"></i>
                <span>icon-add-user</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-monitor"></i>
                <span>icon-monitor</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-end-time"></i>
                <span>icon-end-time</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-monitored"></i>
                <span>icon-monitored</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-warning-info"></i>
                <span>icon-warning-info</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-down-doc"></i>
                <span>icon-down-doc</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-company02"></i>
                <span>icon-company02</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-msg"></i>
                <span>icon-msg</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-search"></i>
                <span>icon-search</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-colse01"></i>
                <span>icon-colse01</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-hook01"></i>
                <span>icon-hook01</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-return-arrow-left"></i>
                <span>icon-return-arrow-left</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-interest"></i>
                <span>icon-interest</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-test"></i>
                <span>icon-test</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-service"></i>
                <span>icon-service</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-password2"></i>
                <span>icon-password2</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-loading"></i>
                <span>icon-loading</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-role"></i>
                <span>icon-role</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-mark"></i>
                <span>icon-mark</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-qq"></i>
                <span>icon-qq</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-check2"></i>
                <span>icon-check2</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-close02"></i>
                <span>icon-close02</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-alert"></i>
                <span>icon-alert</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-add2"></i>
                <span>icon-add2</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow-top"></i>
                <span>icon-arrow-top</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow-left"></i>
                <span>icon-arrow-left</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow-right"></i>
                <span>icon-arrow-right</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow-bottom"></i>
                <span>icon-arrow-bottom</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-email2"></i>
                <span>icon-email2</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-search2"></i>
                <span>icon-search2</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-time"></i>
                <span>icon-time</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-circle"></i>
                <span>icon-circle</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow1-bottom"></i>
                <span>icon-arrow1-bottom</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow1-right"></i>
                <span>icon-arrow1-right</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow1-top"></i>
                <span>icon-arrow1-top</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow1-left"></i>
                <span>icon-arrow1-left</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-ok"></i>
                <span>icon-ok</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-end-time2"></i>
                <span>icon-end-time2</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow3-bottom"></i>
                <span>icon-arrow3-bottom</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow3-left"></i>
                <span>icon-arrow3-left</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow3-right"></i>
                <span>icon-arrow3-right</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow3-top"></i>
                <span>icon-arrow3-top</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow2-bottom"></i>
                <span>icon-arrow2-bottom</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow2-left"></i>
                <span>icon-arrow2-left</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow2-right"></i>
                <span>icon-arrow2-right</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-arrow2-top"></i>
                <span>icon-arrow2-top</span>
              </p>
            </div>
            <div class="col-md-2 col-sm-3">
              <p class="icon-set">
                <i class="icon icon-close2"></i>
                <span>icon-close2</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-edit"></i>
                <span>icon-edit</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-serialId"></i>
                <span>icon-serialId</span>
              </p>
            </div>
            <div class="col-lg-2 col-sm-3 col-xs-4">
              <p class="icon-set">
                <i class="icon icon-stop2"></i>
                <span>icon-stop2</span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>