@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?zcsi3y');
  src:  url('fonts/icomoon.eot?zcsi3y#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?zcsi3y') format('truetype'),
    url('fonts/icomoon.woff?zcsi3y') format('woff'),
    url('fonts/icomoon.svg?zcsi3y#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-check01:before {
  content: "\e93f";
}
.icon-check:before {
  content: "\e940";
}
.icon-check02:before {
  content: "\e941";
}
.icon-qq01:before {
  content: "\e914";
}
.icon-tel:before {
  content: "\e916";
}
.icon-qr-code:before {
  content: "\e917";
}
.icon-return-top:before {
  content: "\e918";
}
.icon-reload:before {
  content: "\e921";
}
.icon-add:before {
  content: "\e924";
}
.icon-user01:before {
  content: "\e927";
}
.icon-password:before {
  content: "\e92b";
}
.icon-iphone:before {
  content: "\e92e";
}
.icon-email:before {
  content: "\e92f";
}
.icon-company:before {
  content: "\e930";
}
.icon-verification:before {
  content: "\e931";
}
.icon-user02:before {
  content: "\e932";
}
.icon-balance:before {
  content: "\e933";
}
.icon-add-user:before {
  content: "\e934";
}
.icon-monitor:before {
  content: "\e935";
}
.icon-end-time:before {
  content: "\e936";
}
.icon-monitored:before {
  content: "\e937";
}
.icon-warning-info:before {
  content: "\e938";
}
.icon-down-doc:before {
  content: "\e939";
}
.icon-company02:before {
  content: "\e93a";
}
.icon-msg:before {
  content: "\e93b";
}
.icon-search:before {
  content: "\e93c";
}
.icon-colse01:before {
  content: "\e93d";
}
.icon-hook01:before {
  content: "\e93e";
}
.icon-return-arrow-left:before {
  content: "\e92c";
}
.icon-interest:before {
  content: "\e92d";
}
.icon-test:before {
  content: "\e901";
}
.icon-service:before {
  content: "\e902";
}
.icon-password2:before {
  content: "\e903";
}
.icon-balance2:before {
  content: "\e906";
}
.icon-loading:before {
  content: "\e900";
}
.icon-role:before {
  content: "\e92a";
}
.icon-mark:before {
  content: "\e929";
}
.icon-qq:before {
  content: "\e928";
}
.icon-check2:before {
  content: "\e926";
}
.icon-close02:before {
  content: "\e904";
}
.icon-alert:before {
  content: "\6d";
}
.icon-add2:before {
  content: "\e907";
}
.icon-arrow-top:before {
  content: "\e905";
}
.icon-arrow-left:before {
  content: "\e908";
}
.icon-arrow-right:before {
  content: "\e909";
}
.icon-arrow-bottom:before {
  content: "\e90a";
}
.icon-email2:before {
  content: "\e90b";
}
.icon-search2:before {
  content: "\e90c";
}
.icon-time:before {
  content: "\e90d";
}
.icon-circle:before {
  content: "\e90e";
}
.icon-arrow1-bottom:before {
  content: "\e90f";
}
.icon-arrow1-right:before {
  content: "\e910";
}
.icon-arrow1-top:before {
  content: "\e911";
}
.icon-arrow1-left:before {
  content: "\e912";
}
.icon-ok:before {
  content: "\e913";
}
.icon-end-time2:before {
  content: "\e915";
}
.icon-arrow3-bottom:before {
  content: "\e919";
}
.icon-arrow3-left:before {
  content: "\e91a";
}
.icon-arrow3-right:before {
  content: "\e91b";
}
.icon-arrow3-top:before {
  content: "\e91c";
}
.icon-arrow2-bottom:before {
  content: "\e91d";
}
.icon-arrow2-left:before {
  content: "\e91e";
}
.icon-arrow2-right:before {
  content: "\e91f";
}
.icon-arrow2-top:before {
  content: "\e920";
}
.icon-close2:before {
  content: "\e922";
}
.icon-edit:before {
  content: "\e923";
}
.icon-serialId:before {
  content: "\e925";
}
.icon-stop2:before {
  content: "\ea1e";
}
